*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header Section */
h1 {
    color: #e53170;
    text-align: center;
    margin: 40px;
    font-size: 40px;        
}

/* Paragrafo */

.container{
    max-width: 1170px;
    margin: 0 auto;
    
}

p{
    text-align: center;    
    font-size: 18px;
    margin-bottom: 50px;
}

.col{
    width: calc(100% / 3);
    float: left;
    min-width: 330px;
    padding: 0 16px;
}

.card {
    background-color: black;
    box-shadow: 0 0 20px 2px grey;
    margin-bottom: 50px;
    color: white;
}

.card .avatar{
    width: 100px;
    float: left;
}

.card .contents{
    float: right;
    width: calc(100% - 100px);
    padding-left: 16px;

}

.card .name {
    margin: 12px 0 6px;
}

.card .position {
    padding-bottom: 6px;
}

.card a{
    text-decoration: none;
    color: cyan;
}